# Python Operators
* Arithmetic operators
* Assignment operators
* comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Arithmetic operators
* addition(+)
* Subtraction(-)
* Multiplication(*)
* exponential(**)
* Division (/)
* floor division(//)
* modulus (%)

In [1]:
# addition(+): It is used to add two or more elements
a = 500
b = 200
c = a+b
print(c)
print(type(c))

700
<class 'int'>

In [2]:
# Subtraction(-): It is used to find the difference between 2 or more numbers
a = 500
b = 300
d = a-b
print(d)
print(type(d))

200
<class 'int'>

In [3]:
# Multiplication(*):It is used to multiply 2 or more numbers
a = 5
b = 4
e = a*b
print(e)
print(type(e))

20
<class 'int'>

In [4]:
# exponential(**):power
# 2 power 3
d = 2**3
print(d)
print(type(e))

8
<class 'int'>

In [5]:
#10 power 5
f = 10**5
print(f)
print(type(f))

100000
<class 'int'>

In [7]:
# division(/):It is used to divide one number by other
m = 100
n = 10
j = m/n
print(j)
print(type(j))
# result will be in float format

10.0
<class 'float'>

In [10]:
# floor division(//): It returns integer result upon division
k = 100
l = 11
a = k//l
print(a)
print(type(a))

9
<class 'int'>

In [ ]:
 # Modulus(%): It returns remainder value upon division
m = 100
n = 9
s = m%n
print(s)
print(type(s))

1
<class 'int'>

In [12]:
m = 100
n = 10
s = m%n
print(s)
print(type(s))

0
<class 'int'>

In [14]:
 # Modulus(%): It returns remainder value upon division
m = 20
n = 9
s = m%n
print(s)
print(type(s))

2
<class 'int'>

In [15]:
12%4

0

# Comparison operators

Comaprison operators are used to compare values.

* equal(==)
* not equal (!=)
* greater than (>)
* less than (<)
* greaterthan or equal (>=)
* less than or equal (<=)

In [20]:
# Is a same as b
a = 10
b = 20
a == b

False

In [23]:
b ==a

False

In [22]:
# Is a and b are different
a!=b

True

In [24]:
b!=a

True

In [32]:
# Is a greater than b
a>b

False

In [26]:
b>a

True

In [ ]:
# Is a gless than b
a<b

True

In [31]:
# Is b less than a
b<a

False

In [33]:
# Is a greater than or equal to b
a>=b

False

In [34]:
# Is b greater than or equal to a
b>=a

True

In [35]:
# Is b less than or equal to a
b<=a

False

# Logical operators
It is used to compare multiple conditions
* and
* or
* not

In [37]:
# and : If all the conditions are true  it returns true otherwise false.
# True and TRue-->True
(10>5) and (100>50)

True

In [38]:
# False and True-->False
(10<5) and (100>50)

False

In [39]:
# False and False --> False
(10<5) and (100<50)

False

In [40]:
(10.1>10)and(30<30.2)

True


# T and T : T
# T and F : F
# F and T : F
# F and F : F

In [41]:
'''
T and T : T
T and F : F
F and T : F
F and F : F '''

'\nT and T : T\nT and F : F\nF and T : F\nF and F : F '

# or : It returns true if either of the condition is true , otherwise False.


* TT : T
* TF : T
* FT : T
* FF : F

In [42]:
(20 > 2) or (30>3)
# True or True--> True

True

In [43]:
(10 > 100) or (100<1000)
# False or True -- True

True

In [44]:
( 2>200) or (5> 500)
# False or False-- False

False

In [45]:
# not: If condition is True it returns false and vice versa.
not(70>100)

True

In [46]:
not(True)

False

In [47]:
not(False)

True

In [48]:
not(10 > 100)

True

# order of precedence
* Parenthesis ()
* comparison(==,!=,<,><=,>=)
* not
* and
* or

In [49]:
(10 > 100) and (30 < 20) or (2 > 200) or not(5==6)

#False and False or False or not(False)
#False and False or False or True
#False or False or True
#True

True

In [50]:
(100>20) or not(20 >=30) and (10==10) or not(20<40)
#  True or not(False) and (True ) or not(True)
# True or True and True or False
# True or True or False
# True

True

# Identity operators
It is used to check whether two variables has same values or not.
* is (==)
* is not(!=)

In [51]:
# is : operator gives True if both variables has same values else it gives false.
a = 10
b = 20
# Is a abd b are same
a is b

False

In [52]:
x = 10
y = 10
print(x is y)

True

In [53]:
m = 10
n = 20
m is not n

True

In [54]:
x = 100
y = 3000
x is not y

True

In [55]:
a = 10
b = 10
a is not b

False

# Membership operators
It is used to find any character or element present in object or not.
* in
* not in

In [56]:
A = [10,20,30,40,50]
# check whether 40 is present in A or not
print(40 in A)

True

In [57]:
a = [100,500,300,400]
print(700 in a)

False

In [59]:
# check whether 100 is in A or not
print(100 in a)

True

In [60]:
colors = ['blue','green','orange','yellow']
# check whether green in colors using not in operator
print("green" not in colors)

False

In [61]:
print('orange' not in colors)

False

In [62]:
print('magenta' not in colors)

True

In [63]:
# check whether pink color in colors or not using not in
print("pink" not in colors)

True

In [64]:
A = "python"
print('p' in A)

True

# Assignment operator

In [65]:
# addition(+=)
salary = 20000
# update salary by adding 10000
# salary = 20000 + 10000
# salary = salary+10000
salary+=10000
print(salary)

30000

In [66]:
a = 100
# increment a by 1000
# a= a+100
a+=1000
print(a)

1100

In [67]:
b= 500
b += 700
print(b)

1200

In [68]:
# subtraction(-=)
salary = 50000
# decrease salary by subtracting it with 20000
# salary=salary-20000
salary-=20000
print(salary)

30000

In [69]:
salary = 120000
salary -= 30000
print(salary)

90000

In [70]:
# multiplication(*=)
salary = 10000
# multiple actual salary with 6
#salary = salary * 6
salary*=6
print(salary)

60000

In [71]:
salary = 120000
# multiply actual salary with 12
# salary = salary * 12
salary*=12
print(salary)

1440000

In [72]:
# division(/=)
a = 100
# divide a by 5
# a=a/5
a/=5
print(a)

20.0

In [74]:
b = 5000
b /= 10
print(b)

500.0

In [75]:
# floor division(//=)
a = 100
# divide a by 5 and get integer result
# a=a//5
a//=5
print(a)

20

In [76]:
c = 5000
c//=3
print(c)

1666

In [77]:
100/5

20.0

In [78]:
100//5

20

In [79]:
#exponential(**=)
a = 2
# find a to the power of 10
a**=10
print(a)

1024

In [80]:
b = 10
b **=5
print(b)

100000

# Thanks